CoolProp==6.6.0
folium==0.17.0
gekko==1.0.6
geopy==2.4.1
h3==3.7.7
historicdutchweather==1.2.2
ipympl==0.9.3
matplotlib==3.6.3
matplotlib-inline==0.1.6
missingno==0.5.2
mysql-connector-python==9.1.0
numpy==1.23.5
pandas==2.2.2
pyarrow==15.0.1
pyproj==3.6.1
pythermalcomfort==2.10.0
pytz==2022.7.1
requests==2.32.0
scipy==1.10.0
seaborn==0.12.2
setuptools==70.0.0
SQLAlchemy==2.0.3
tqdm==4.66.3